<footer>
  <h3><span>&copy</span> <span class="f_txt">This is Made by Saptarshi</span></h3>
</footer>
<!-- Other js files -->
<script src="https://code.jquery.com/jquery-3.5.1.js"crossorigin="anonymous"></script>

<!-- main js file -->
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
