<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>Weather App</title>
    <!-- logo -->
    <link href="css/images/logo.png" rel="icon">
    <link href="css/images/logo.png" rel="apple-touch-icon">

    <!-- Additional css files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous"> <!-- bootstrapcdn-->
    <!-- main css file -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="morning day">
